.result-card {
  background-color: #0d1117;
  border: 1px solid #30363d !important;
  border-radius: 16px;
}


.skill-badge {
  font-size: 0.85rem;
  padding: 6px 14px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 50px;
  font-weight: 500;
  display: inline-block;
  border: 1px solid transparent;
}

.bg-success-soft {
  background-color: rgba(25, 135, 84, 0.15);
  border-color: rgba(25, 135, 84, 0.3);
}

.bg-danger-soft {
  background-color: rgba(220, 53, 69, 0.15);
  border-color: rgba(220, 53, 69, 0.3);
}

.bg-dark-cyan-soft {
  background-color: rgba(0, 180, 216, 0.1);
  border: 1px dashed rgba(0, 180, 216, 0.4);
}


.score-underline {
  height: 4px;
  width: 60px;
  background: linear-gradient(90deg, #00B4D8, #0077B6);
  border-radius: 10px;
  margin-top: 5px;
}

.feedback-box {
  background-color: rgba(255, 193, 7, 0.05);
  border-left: 4px solid #ffc107;
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
}


/* Form-control CSS */

.form-control::file-selector-button {
  background-color: #000000;
  color: #00B4D8;
  border: 1px solid #00B4D8;
  padding: 0.5rem 1rem;
  margin-right: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75rem;
}


.form-control::file-selector-button:hover {
  background-color: #00B4D8;
  color: #000000;
}


.form-control {
  background-color: #0d1117 !important;
  color: white !important;
  border: 1px solid #21262d !important;
}


.form-control::placeholder {
  color: #6c757d;
}